# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
on:
  pull_request:

name: ci

jobs:
  nix-flake-check:
    name: nix flake check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install nix
        uses: cachix/install-nix-action@v31

      - name: Ensure the build succeeds
        run: nix build

      - name: Run `nix flake check` to run formatters, linters, and tests
        run: nix flake check --print-build-logs
